<!-- _includes/main-layout.njk -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My 11ty Planets</title>
  <link rel="stylesheet" href="/_css/style.css">
</head>

<body>
  <header>
    <!-- Add header content -->
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <!-- Add footer content -->
  </footer>
</body>

</html>
