<section class="planet-card">
    <div class="planet-avatar {{ data.split('|')[2] }}">{{ data.split('|')[1] }}</div>
    <h2>{{ data.split('|')[0] }}</h2>
    <p>Astronomical Unit: {{ data.split('|')[1] }}</p>
</section>
