<!-- _includes/planet-card.njk -->
---
layout: main-layout.njk
---

<div class="planet-card">
  <div class="planet-avatar"></div>
  <h2 class="planet-name">{{ planetName }}</h2>
  <p>{{ astronomicalUnit }}</p>
</div>
